@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400&display=swap");

.App {
  width: 100vw;
  height: 100vh;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.configurator {
  position: fixed;
  top: 20px;
  right: 70px;
  bottom: 25vh;
  width: 360px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center; /* Added for alignment */
}

.configurator__section__title {
  color: black; /* Change font color to black */
  font-weight: bold; /* Make section titles bold */
}

.configurator__section__values {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
  font-size: 10px;
  color: black; /* Change font color to black */
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.4s;
}

.item:hover {
  cursor: pointer;
  opacity: 0.9;
}

.item__dot {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  border: solid 2px #999999;
}

.item.item--active .item__dot {
  border: solid 2px white;
}

.item__label {
  text-align: center;
  font-weight: bold;
  font-size: 6px;
  color: grey; /* Change font color to grey */
  text-transform: capitalize;
}
.item.item--active .item__label {
  color: black; /* Change active item label color to black */
}

.item__image {
  width: 30px;
  height: 30px; /* Corrected typo */
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
  margin-top: 8px;
}

.configurator__buttons button {
  background-color: #0078D7; /* Green background */
  border: none; /* Remove border */
  color: white; /* White text */
  padding: 15px 32px; /* Padding */
  text-align: center; /* Centered text */
  text-decoration: none; /* Remove underline */
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s; /* Transition effect */
  cursor: pointer;
}

.configurator__buttons button:hover {
  background-color: rgba(255, 255, 255, 0.13); /* White background */
  color: black; /* Black text */
}

.logo {
  position: absolute;
  top: 1px;
  left: -850px;
  width: 80px;
  height: 80px;
}
